.work {
  display: block;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 45px;
  line-height: 54px;
}

.cards {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 8vw;
}