* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  --scrollbarBG: #222129;
  --thumbBG: #8C63FD;
}

body {
  width: 100vw;
  background: #040305;
  position: relative;
  color: #F5F5F7;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}