.project-links {
  display: flex;
  margin-top: 30px;
}
.project-links a {
  text-decoration: none;
  font-size: 18px;
  color: #F5F5F6;
  display: block;
  width: 185px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border-radius: 20px;
  margin-right: 29px;
}

.live-link {
  background: #8C63FD;
}

.live-link:hover {
  opacity: 0.80;
}

.github-link {
  border: 1px solid #34C5D7;
}

@media (max-width: 425px) {
  .project-links {
    flex-direction: column;
    width: max-content;
    margin: 26px auto 0;
  }

  .project-links a {
    margin-bottom: 22px;
  }
}