section {
  height: 83vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.text {
  margin-left: 71px;
  margin-top: 239px;
  width: 46vw;
}

.text h1 {
  font-size: 56px;
  font-weight: 900;
  margin: 0;
  line-height: 67.2px;
}

.who-i-am {
  background: -webkit-linear-gradient(0deg, #AE63FD, rgb(52, 203, 220));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

p {
  font-size: 26px;
  margin-top: 0;
  line-height: 36px;
  width: 90%;
}

.image .rectangle {
  z-index: -1;
  width: 405px;
  height: 503px;
  background: #222129;
  border-radius: 20px;
  margin-top: 25px;
  margin-right: 88px;
}

.down-arrow-container {
  width: 41px;
  height: 65px;
  border: 2px solid #8C63FD;
  border-radius: 25px;
  margin: auto;
  animation: 1.5s arrow infinite ease;
}

@keyframes arrow {
  0%, 100% {
    margin-top: -58px;
  }
  50% {
    margin-top: -37px;
  }
}

@media screen and (max-width: 1130px) {
  .text h1 {
    font-size: 33px;
    line-height: 40px;
  }

  .text p {
    font-size: 22px;
    line-height: 140%;
  }

  .image .rectangle {
    width: 303.75px;
    height: 377.25px;
  }

  img {
    width: 321px;
    height: 372.75px;

  }
}