.testimonies {
  margin-top: 216px;
  flex-direction: column;
  justify-content: start;
  height: max-content;
}

.quotes {
  display: flex;
  margin: 74px auto 0;
  width: 1200px;
  justify-content: center;
}

@media (max-width: 768px) {
  .quotes {
    width: 100%;
    margin-left: 0px;
    margin-top: 45px;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
   .testimonies {
     margin-top: 115px;
   }

   .quotes {
     margin: 0px auto 84px;
     width: 294px;
   }
}

@media (max-width: 320px) {
  .testimonies {
    margin-top: 115px;
  }

  .quotes {
    margin-top: 0px;
    margin-bottom: 84px;
    margin-left: 13px;
    width: 294px;
  }
}