.card {
  margin-left: 8vw;
  margin-bottom: 64px;
  width: 320.29px;
  height: 444px;
  border-radius: 20px;
  background: #222129;
  text-align: left;
}

.card h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  margin-top: 22px;
  text-align: left;
  margin-left: 17.78px;
}

.card .description {
  color: #A4A2A2;
  font-size: 16px;
  line-height: 19px;
  margin-left: 17.78px;
  margin-top: 8px;
}

.card .tools {
  font-size: 14px;
  line-height: 17px;
  margin-top: 24px;
  margin-left: 17.78px;
}

.card a {
  position: relative;
  top: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #F5F5F6;
  text-decoration: none;
  padding: 10px 26px;
  background: #8C63FD;
  border-radius: 20px;
  margin-left: 17.78px;
}

.card a:hover {
  opacity: 0.75;
}

.cardImg {
  width: 320px;
  height: 191px;
  border-radius: 20px 20px 0 0;
}

@media (max-width: 768px) {
  .card {
    margin-left: 5vw;
    margin-bottom: 46px;
  }
}

@media (max-width: 425px) {
  
  .card {
    width: 90%;
    border-radius: 25px;
    height: max-content;
    padding-bottom: 90px;
  }

  .cardImg {
    width: 100%;
    height: 53.1vw;
    max-width: 100%;
    border-radius: 25px 25px 0 0;
  }
}

@media (max-width: 320px) {
  .card {
    width: 285px;
    height: 435px;
    padding-bottom: 0px;
    border-radius: 20px;
  }

  .cardImg {
    width: 285px;
    height: 174px;
  }

  .card h2, .card .description, .card .tools, .card a {
    margin-left: 10px;
  }

  .card .description {
    width: 90%;
  }
}