main {
  margin-left: 90px;
  margin-top: 151px;
}

main p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.005em;
  color: rgba(214, 214, 214, 0.85);
  width: 493px;
}

.process-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 41px;
  margin-right: 115px;
}

#process-title {
  width: fit-content;
}

.result {
  margin-top: 23px;
}

@media (max-width: 768px) {
  main {
    margin-left: 138px;
    margin-top: 154px;
  }

  .process-container {
    justify-content: flex-start;
    margin-top: 157px;
  }

  .result {
    margin-top: 157px;
  }
}

@media (max-width: 425px) {
  main {
    margin-left: 15px;
    margin-top: 95px;
  }

  main p {
    width: 98%;
  }

  .process-container {
    margin-top: 100px;
    width: 100%;
  }

  .process-container p {
    width: 98%;
  }

  .result {
    margin-top: 100px;
  }
}

@media (max-width: 320px) {
  main {
    margin-left: 15px;
    margin-top: 95px;
  }

  main p {
    width: 98%;
  }

  .process-container {
    margin-top: 100px;
    width: 100%;
  }

  .process-container p {
    width: 98%;
  }

  .result {
    margin-top: 100px;
  }
}