.quoteIcon {
  width: 28px;
  height: 24.22px;
  border-radius: 0px;
  margin-top: 32px;
  margin-left: 22px;
}

.quoteTxt {
  display: flex;
  background: #222129;
  width: 561px;
  height: max-content;
  padding-bottom: 39px;
  border-radius: 20px;
}

.quoteTxt p {
  margin-top: 56.61px;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.005em;
  color: #F5F5F7;
  width: 485px;
}

.pointer {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #222129;
  margin: auto;
}

.author-name {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.005em;
  width: max-content;
  text-align: center;
  margin: 4px auto 0;
}

.occupation {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #D0D0D0;
  width: max-content;
  text-align: center;
  margin: 5px auto 0;
}

@media (max-width: 768px) {
  .quote {
    margin-bottom: 81px;
  }
}

@media (max-width: 425px) {
  .quote {
    width: 100%;
    margin-top: 42px;
    margin-bottom: 0;
  }

  .quoteIcon {
    margin-left: 8px;
    margin-top: 21px;
  }

  .quoteTxt {
    width: 100%;
    padding-bottom: 30px;
  }

  .quoteTxt p{ 
    width: 245px;
    font-size: 20px;
    line-height: 130%;
  }
}