.contact {
  display: flex;
  justify-content: flex-start;
  background: #222129;
  width: max-content;
  height: max-content;
  margin: 152px auto 0;
  border-radius: 20px;
}
.contact-start {
  margin-left: 78px;
  border-right: 1px solid #3C3B3B;
}

#contact-title {
  margin-top: 48px;
  justify-content: left;
}

#contact-underscore {
  margin-right: 320.5px;
}

.contact-start p {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.005em;
  color: rgba(214, 214, 214, 0.85);
  width: max-content;
}

label {
  display: block;
  margin-top: 38px;
  font-size: 16px;
  line-height: 19px;
}

input {
  width: 445px;
  height: 44px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #222129;
  font-family: 'Lato', sans-serif;
}

input:focus {
  outline: none;
}

textarea {
  width: 565px;
  height: 162px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  border: none;
  padding-left: 13px;
  padding-top: 10px;
  margin-top: 10px;
  margin-right: 62px;
  font-size: 16px;
  line-height: 19px;
  color: #222129;
  font-family: 'Lato', sans-serif;
}

textarea:focus {
  outline: none;
}

button {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #F5F5F6;
  background: #8C63FD;
  width: 185px;
  height: 42.36px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 38px;
  margin-bottom: 59.64px;
}

button:focus {
  outline: none;
}

button:hover {
  /* background: #7e58e6; */
  opacity: 0.75;
}

.contact-end {
  margin-left: 38px;
  margin-bottom: 48px;
}

.send-success {
  background: #040305;
  margin-top: 47.23px;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 81%;
  animation: fadeIn 0.75s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1.0;
  }
}

.check {
  width: 39.38px;
  height: 33.11px;
  display: block;
  margin: auto;
  padding-top: 33px;
}

.successTitle {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 7.27px;
}

.contact-start .successMessage {
  width: 370px;
  height: 72px;
  margin: 27px auto 0;
  font-size: 18px;
  line-height: 133%;
}

@media (max-width: 768px) {
  .send-success {
    font-size: 20px;
    line-height: 26px;
  }

  .contact {
    flex-direction: column;
    width: 100%;
    border-radius: 0%;
    margin: 0 auto 0;
  }

  #contact-underscore {
    margin-right: 0;
  }

  .contact-start {
    border-bottom: 1px solid #3C3B3B;
    margin-left: 0px;
    padding-left: 100px;
  }

  .contact-start p {
    margin-top: 12px;
  }
  
  .contact-end {
    display: flex;
    margin-left: 85px;
    padding-bottom: 56px;
  }
}

@media (max-width: 425px) {
  .send-success {
    text-align: center;
    margin: 47.23px auto 0;
  }

  .contact-start .successMessage {
    width: 85%;
    height: max-content;
    text-align: start;
  }

  .contact-start {
    padding-left: 0;
  }
  #contact-form {
    padding-left: 12px;
  }

  #contact-title, #contact-prompt {
    padding-left: 0;
  }

  #contact-title {
    justify-content: center;
  }

  .contact-start p {
    text-align: center;
    width: 253px;
    margin: 8px auto 0;
  }

  label {
    margin-top: 17px;
  }

  input {
    width: 91.5vw;
  }

  textarea {
    width: 91.5vw;
  }

  .contact-end {
    flex-direction: column;
    margin-left: 13px;
    padding-bottom: 37px;
  }

  /* button {
    margin: 27px auto 47.63px;
  } */
}

@media (max-width: 320px) {
  .successTitle {
    font-size: 20px;
    line-height: 25px;
  }

  .contact-start {
    padding-left: 0;
  }
  #contact-form {
    padding-left: 12px;
  }

  #contact-title, #contact-prompt {
    padding-left: 0;
  }

  #contact-title {
    justify-content: center;
  }

  .contact-start p {
    text-align: center;
    width: 253px;
    margin: 8px auto 0;
  }

  label {
    margin-top: 17px;
  }

  input {
    width: 89vw;
  }

  textarea {
    width: 89vw;
  }

  .contact-end {
    flex-direction: column;
    margin-left: 13px;
    padding-bottom: 37px;
  }

  /* button {
    margin: 27px auto 47.63px;
  } */
}