.aboutSection {
  display: flex;
  justify-content: space-between;
  height: 855px;
  width: 1311px;
}

.aboutImg .aboutRectangle {
  width: 476px;
  height: 593px;
  background: #222129;
  border-radius: 20px;
  margin-top: 262px;
  margin-left: 79px;
}

.aboutImg img {
  width: 515px;
  height: 579px;
  position: relative;
  top: -656px;
  left: 156px;
  border-radius: 20px;
}

.text {
  width: max-content;
  margin-top: 222px;
}

#about-title {
  justify-content: left;
  margin-bottom: 27px;
}

.topText {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.005em;
  color: #F5F5F7;
  width: 503px;
}

.textBody {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.005em;
  color: rgba(214, 214, 214, 0.85);
  width: 493px;
}