#skills {
  margin-top: 104px;
  padding-top: 34px;
  width: 1071px;
  height: 491px;
  background: #222129;
  margin-left: 184px;
  border-radius: 20px;
  display: block;
}

.skillSets {
  display: flex;
  margin-top: 45px;
  margin-left: 74px;
  margin-right: 74px;
  justify-content: space-between;
}