/*Navigation Bar*/

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.logo {
  padding-left: 58px;
  padding-top: 15px;
}

.nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.nav-link {
  display: inline;
  height: 100%;
  margin: auto;
}

.nav-menu a {
  color: #F5F5F7;
  text-decoration: none;
  font-size: 18px;
  height: 86px;
  line-height: 86px;
}

.nav-menu a:hover {
  color: #b7b7d1;
}

.work-link {
  height: 22px;
  margin-top: 20px;
  margin-right: 43px;
  padding: 10px 39px;
  background: #8C63FD;
  border-radius: 20px;
}
.work-link a {
  line-height: 22px;
}

.toggle-button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.toggle-button-burger {
  position: absolute;
  height: 1.5px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.toggle-button-burger::before,
.toggle-button-burger::after {
  position: absolute;
  content: '';
  height: 1.5px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.toggle-button-burger::before {
  top: -6px;
}

.toggle-button-burger::after {
  top: 6px;
}

.toggle-button.open .toggle-button-burger {
  transform: translateX(-20px);
  background: transparent;
}

.toggle-button.open .toggle-button-burger::before {
  transform: rotate(45deg) translate(14.142px, -5.8px);
}

.toggle-button.open .toggle-button-burger::after {
  transform: rotate(-45deg) translate(14.142px, 5.8px);
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-menu {
    display: none;
    width: 100%;
  }

  .nav-menu .nav-list{
    flex-direction: column;
  }

  .nav-link, .work-link {
    height: 38px;
  }

  .nav-link a, .work-link a {
    line-height: 38px;
  }


  .work-link-container {
    width: max-content;
    height: max-content;
    margin: 10px auto 0;
  }

  .work-link {
    margin: 0 auto 0px;
  }
  .nav-menu #work {
    height: 38px;
    line-height: 38px;
  }

  #nav-dropdown {
    display: flex;
    animation: slideIn 0.35s ease-in;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

@media (max-width: 425px) {
  .toggle-button {
    margin-right: 23px;
    margin-top: 19px;
  }
}